h2 {
  font-size: 32px;
  color: bisque;
  letter-spacing: 5px;
  cursor: pointer;
  transition: .5s;
}

h2:hover {
  color: rgb(27, 150, 6);
  text-shadow: 0 0 5px rgb(131, 24, 24),
  0 0 25px rgb(192, 106, 106),
  0 0 55px rgb(56, 5, 5),
  0 0 100px rgb(178, 114, 114);

}